<div data-container="" class="trillo-container trillo-main-container" name="C2" nm="C2" style="display: flex; flex-direction: column; flex-grow: 1; min-width: auto;">
  <div data-component="row" class="trillo-container-row trillo-builder-empty-row" name="Row_1" style="align-self: stretch; background: rgb(255, 0, 0);">
    <div class="trillo-builder-h-arrow"></div>
  </div>
  <div data-component="row" class="trillo-container-row" name="Row_3" style="align-self: stretch; background-color: rgb(255, 255, 255); justify-content: center;">
    <img data-component="img" class="trillo-component" src="/W202/App1/static/img/Block2(1).png">
  </div>
  <div data-component="row" class="trillo-container-row" name="Row_4" style="align-self: stretch; flex-wrap: nowrap;">
    <div data-component="column" class="trillo-container-column" name="Column_1" style="min-width: 20px; align-self: stretch; padding: 10px;">
      <div class="trillo-form" name="CountryForm" nm="CountryForm" style="width: 300px; padding: 10px; border: 5px solid rgb(194, 194, 194);" for-view="CountryForm">
        <form data-container="">
          <div data-component="text" class="form-group">
            <label data-label="" data-content-editable="true">Text1234</label>
            <input data-field="" type="text" class="form-control" nm="Text_2">
          </div>
          <div data-component="text" class="form-group">
            <label data-label="" data-content-editable="true" style="font-size: 30px;">Animal</label>
            <input data-field="" type="text" class="form-control" nm="animal" style="">
          </div>
          <div data-component="text" class="form-group">
            <label data-label="" data-content-editable="true">Text_5</label>
            <input data-field="" type="text" class="form-control" nm="Text_5">
          </div>
          <div data-component="text" class="form-group">
            <label data-label="" data-content-editable="true">Plant</label>
            <input data-field="" type="text" class="form-control" nm="plant">
          </div>
          <div data-component="text" class="form-group" style="color: rgb(255, 0, 0); border: 2px solid rgb(255, 0, 0); padding: 10px;">
            <label data-label="" nm="country" data-content-editable="true" style="color: rgb(255, 0, 0); font-weight: bold; font-size: 24px;">
              <i>Country Name123...</i>
            </label>
            <input data-field="" type="text" class="form-control" nm="country" style="color: inherit;">
          </div>
          <div data-component="text" class="form-group">
            <label data-label="" data-content-editable="true">Text_4</label>
            <input data-field="" type="text" class="form-control" nm="Text_4">
          </div>
          <label data-component="checkbox" class="custom-control custom-checkbox">
            <input data-field="" type="checkbox" class="custom-control-input" nm="official">
            <span class="custom-control-indicator"></span>
            <span data-label="" class="custom-control-description" data-content-editable="true">Official</span>
          </label>
          <div data-component="select" class="form-group">
            <label data-label="" data-content-editable="true">Select_1</label>
            <select data-field="" class="form-control custom-select" nm="Select_1"></select>
          </div>
          <button data-component="button" type="button" class="btn btn-primary" nm="ok" data-content-editable="true" style="border: 1px solid rgb(255, 0, 0);">OK</button>
          <button data-component="button" type="button" class="btn btn-primary" nm="close" style="margin-left: 5px;" data-content-editable="true">Close</button>
        </form>
        <small class="form-control-feedback trillo-display-none js-field-error "></small>
        <small class="form-text text-muted trillo-display-none js-field-message "></small>
      </div>
    </div>
    <div data-component="column" class="trillo-container-column" name="Column_4" style="min-width: 20px; width: 50%; flex-grow: 1; padding: 10px;">
      <div class="card" for-view="Card1">
        <div class="card-header">Header</div>
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <a href="#" class="btn btn-primary">Action</a>
        </div>
      </div>
    </div>
  </div>
</div>