<div class="trillo-form" name="CountryForm" nm="CountryForm" style="width: 300px; padding: 10px;">
  <form data-container="">
    <div data-component="text" class="form-group">
      <label data-label="" style="font-size: 24px;">Animal</label>
      <input data-field="" type="text" class="form-control js-required" nm="name" style="" data-validation="required">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Text1234</label>
      <input data-field="" type="text" class="form-control" nm="Text_2">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Text_5</label>
      <input data-field="" type="text" class="form-control" nm="Text_5">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Plant</label>
      <input data-field="" type="text" class="form-control" nm="plant">
    </div>
    <div data-component="text" class="form-group" style="color: rgb(255, 0, 0); border: 10px solid rgb(255, 0, 0); padding: 10px;">
      <label data-label="" nm="country" style="color: rgb(255, 0, 0); font-weight: bold; font-size: 24px;">Country Name123...</label>
      <input data-field="" type="text" class="form-control" nm="country" data-validation="required" style="color: inherit;">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Text_4</label>
      <input data-field="" type="text" class="form-control" nm="Text_4">
    </div>
    <label data-component="checkbox" class="custom-control custom-checkbox">
      <input data-field="" type="checkbox" class="custom-control-input" nm="official">
      <span class="custom-control-indicator"></span>
      <span data-label="" class="custom-control-description">Official</span>
    </label>
    <div data-component="select" class="form-group">
      <label data-label="">Select_1</label>
      <select data-field="" class="form-control custom-select" nm="Select_1"></select>
    </div>
    <button data-component="button" type="button" class="btn btn-primary" nm="ok12" style="border: 1px solid rgb(255, 0, 0);">OK</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="close" style="margin-left: 5px;">Close</button>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error "></small>
  <small class="form-text text-muted trillo-display-none js-field-message "></small>
</div>
