<div class="trillo-form form-in-design-mode" name="F1" nm="F1" style="width: 300px; padding: 15px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); border-radius: 8px;">
  <form data-container="">
    <div data-component="text" class="form-group">
      <label data-label="">Text_2</label>
      <input data-field="" type="text" class="form-control" nm="Text_2">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Role</label>
      <input data-field="" type="text" class="form-control" nm="role" enum-name="roleEnum">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Role2</label>
      <input data-field="" type="text" class="form-control" nm="role2" enum-name="roleEnum">
    </div>
    <label data-component="checkbox" class="custom-control custom-checkbox">
      <input data-field="" type="checkbox" class="custom-control-input" nm="Checkbox_1">
      <span class="custom-control-indicator"></span>
      <span data-label="" class="custom-control-description">Checkbox_1</span>
    </label>
    <div data-component="text" class="form-group">
      <label data-label="">Spring5</label>
      <input data-field="" type="text" class="form-control" nm="Text_5">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Text_4</label>
      <input data-field="" type="text" class="form-control" nm="Text_4">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Text_3</label>
      <input data-field="" type="text" class="form-control" nm="Text_3">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Name</label>
      <input data-field="" type="text" class="form-control" nm="name">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Text_1</label>
      <input data-field="" type="text" class="form-control" nm="Text_1">
    </div>
    <div data-component="number" class="form-group">
      <label data-label="">Number_1</label>
      <input data-field="" type="number" class="form-control" nm="Number_1">
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>
