<div class=" trillo-form" name="F4" nm="F4" style="width: 300px; padding: 10px;">
  <form data-container="">
    <div data-component="text" class="form-group">
      <label data-label="">Text_2</label>
      <input data-field="" type="text" class="form-control" nm="Text_2">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Text_1</label>
      <input data-field="" type="text" class="form-control" nm="Text_1">
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>
