<div class="trillo-form" name="F6" nm="F6" style="width: 300px; padding: 10px;">
  <form data-container="">
    <div data-component="text" class="form-group">
      <label data-label="" style="font-weight:bold" data-content-editable="true">Text_1</label>
      <input data-field="" type="text" class="form-control" nm="Text_1">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="" style="font-weight:bold" data-content-editable="true">Text_2</label>
      <input data-field="" type="text" class="form-control" nm="Text_2">
    </div>
    <label data-component="checkbox" class="custom-control custom-checkbox">
      <input data-field="" type="checkbox" class="custom-control-input" nm="Checkbox_1">
      <span class="custom-control-indicator"></span>
      <span data-label="" class="custom-control-description" data-content-editable="true">Checkbox_1</span>
    </label>
    <div data-component="select" class="form-group">
      <label data-label="" data-content-editable="true">Select_1</label>
      <select data-field="" class="form-control custom-select" nm="Select_1"></select>
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>
