<ul data-container="" class="nav nav-pills" name="N1" nm="N1">
  <li data-component="menuItem" class="nav-item">
    <a data-trigger="" class="nav-link js-menu-item" href="#" nm="MenuItem_3" data-content-editable="true">
      <i></i>
      MenuItem_3
    </a>
  </li>
  <li data-component="menuItem" class="nav-item">
    <a data-trigger="" class="nav-link js-menu-item" href="#" nm="MenuItem_7" data-content-editable="true">
      <i></i>
      MenuItem_7
    </a>
  </li>
  <li data-component="dropdown" class="nav-item dropdown">
    <a data-trigger="" class="nav-link dropdown-toggle js-menu-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false" nm="menuItem1" data-content-editable="true" data-toggle="dropdown">
      <i></i>
      Menu Item 1
    </a>
    <div data-inner-container="" class="dropdown-menu">
      <a data-component="menuItem" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="MenuItem_1" data-content-editable="true">
        <i></i>
        MenuItem_1
      </a>
      <a data-component="menuItem" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="MenuItem_4" data-content-editable="true">
        <i></i>
        MenuItem_4
      </a>
      <a data-component="menuItem" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="MenuItem_2" data-content-editable="true">
        <i></i>
        MenuItem_2
      </a>
      <a data-component="menuItem" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="MenuItem_5" data-content-editable="true">
        <i></i>
        MenuItem_5
      </a>
      <a data-component="menuItem" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="MenuItem_8" data-content-editable="true">MenuItem_8</a>
    </div>
  </li>
  <li data-component="menuItem" class="nav-item" style="font-style: italic;">
    <a data-trigger="" class="nav-link js-menu-item" href="#" nm="MenuItem_6" data-content-editable="true">
      <i></i>
      MenuItem_6
    </a>
  </li>
</ul>
