<ul data-container="" class="nav nav-pills" name="N2" nm="N2">
  <li data-component="menuItem" class="nav-item">
    <a data-trigger="" class="nav-link js-menu-item" href="#" nm="MenuItem_1">
      <i></i>
      MenuItem_1
    </a>
  </li>
  <li data-component="menuItem" class="nav-item">
    <a data-trigger="" class="nav-link js-menu-item" href="#" nm="menuItem1">
      <i></i>
      Menu Item 1
    </a>
  </li>
  <li data-component="dropdown" class="nav-item dropdown">
    <a data-trigger="" class="nav-link dropdown-toggle js-menu-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" nm="Dropdown_1">
      <i></i>
      Dropdown_1
    </a>
    <div data-inner-container="" class="dropdown-menu">
      <a data-component="menuItem" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="MenuItem_3">
        <i></i>
        MenuItem_3
      </a>
      <div data-divider="" data-component="divider" class="dropdown-divider"></div>
      <a data-component="menuItem" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="MenuItem_2">
        <i></i>
        MenuItem_2
      </a>
    </div>
  </li>
</ul>
