<div class="nav-tree-container js-non-native-scrollbar" name="NT1" nm="NT1" style="width: 400px; padding: 10px;">
  <ul data-container="" class="nav-tree">
    <li data-component="tree-node" style="font-size: 20px;" class="">
      <a data-trigger="" href="#" class="nav-tree-node js-menu-toggle show" role="button" aria-haspopup="true" aria-expanded="false" nm="TreeNode_1" data-content-editable="true">
        <i></i>
        TreeNode_133232
      </a>
      <ul data-inner-container="" class="nav-tree-inner">
        <li data-component="tree-node" class="">
          <a data-trigger="" href="#" class="nav-tree-node js-menu-toggle show" role="button" aria-haspopup="true" aria-expanded="false" nm="tree-node_1" data-content-editable="true">
            <i></i>
            Tree Node 1
          </a>
          <ul data-inner-container="" class="nav-tree-inner">
            <li data-component="tree-leaf-node">
              <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_7" data-content-editable="true">tree-leaf-node_7</a>
            </li>
            <li data-component="tree-leaf-node">
              <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_8" data-content-editable="true">tree-leaf-node_8</a>
            </li>
          </ul>
        </li>
        <li data-component="tree-leaf-node" class="">
          <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="TreeNode_1_1" data-content-editable="true">
            <i></i>
            TreeNode_1_1323232
          </a>
        </li>
        <li data-component="tree-leaf-node" class="">
          <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="treeNode_1" data-content-editable="true">
            <i></i>
            treeNode_1323232
          </a>
        </li>
        <li data-component="tree-leaf-node" class="">
          <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="treeNode_2" data-content-editable="true">
            <i></i>
            treeNode_2
          </a>
        </li>
        <li data-component="tree-leaf-node">
          <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="treeNode_3" data-content-editable="true">
            <i></i>
            treeNode_3
          </a>
        </li>
      </ul>
    </li>
    <li data-component="tree-leaf-node" class="">
      <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="treeNode_7" data-content-editable="true" style="font-size: 32px;">
        <i></i>
        Tree-7888
      </a>
    </li>
    <li data-component="tree-node" class="">
      <a data-trigger="" href="#" class="nav-tree-node js-menu-toggle" role="button" aria-haspopup="true" aria-expanded="false" nm="tree-node_2" data-content-editable="true">
        <i></i>
        tree-node_2
      </a>
      <ul data-inner-container="" class="nav-tree-inner">
        <li data-component="tree-node" class="">
          <a data-trigger="" href="#" class="nav-tree-node js-menu-toggle show" role="button" aria-haspopup="true" aria-expanded="false" nm="tree-node_4" data-content-editable="true">
            <i></i>
            tree-node_4
          </a>
          <ul data-inner-container="" class="nav-tree-inner">
            <li data-component="tree-leaf-node">
              <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_11" data-content-editable="true">tree-leaf-node_11</a>
            </li>
            <li data-component="tree-leaf-node">
              <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_10" data-content-editable="true">tree-leaf-node_10</a>
            </li>
            <li data-component="tree-leaf-node">
              <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_9" data-content-editable="true">tree-leaf-node_9</a>
            </li>
            <li data-component="tree-leaf-node">
              <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_3" data-content-editable="true">
                <i></i>
                tree-leaf-node_3
              </a>
            </li>
            <li data-component="tree-leaf-node" class="">
              <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="tree-leaf-node_5" data-content-editable="true">
                <i></i>
                tree-leaf-node_5
              </a>
            </li>
          </ul>
        </li>
        <li data-component="tree-leaf-node" class="">
          <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="tree-leaf-node_4" data-content-editable="true">
            <i></i>
            tree-leaf-node_4
          </a>
        </li>
      </ul>
    </li>
    <li data-component="tree-leaf-node" class="">
      <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="tree-leaf-node_2" data-content-editable="true">
        <i></i>
        tree-leaf-node_2
      </a>
    </li>
    <li data-component="tree-leaf-node" class="">
      <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="tree-leaf-node_1" data-content-editable="true">
        <i></i>
        tree-leaf-node_1
      </a>
    </li>
    <li data-component="tree-leaf-node" class="">
      <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="treeNode_4" data-content-editable="true">
        <i></i>
        treeNode_4
      </a>
    </li>
    <li data-component="tree-leaf-node" class="">
      <a data-trigger="" class="nav-tree-leaf-node js-menu-item show" href="#" nm="treeNode_6" data-content-editable="true">
        <i></i>
        Tree Node123
      </a>
    </li>
    <li data-component="tree-leaf-node">
      <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_6" data-content-editable="true">ABCD</a>
    </li>
    <li data-component="tree-node" class="">
      <div style="width:100%; margin:10px; border: 1px solid #ff0000; height:1px" class="show"></div>
      <a data-trigger="" href="#" class="nav-tree-node js-menu-toggle" role="button" aria-haspopup="true" aria-expanded="false" nm="tree-node_3" data-content-editable="true">
        <i></i>
        tree-node_3
      </a>
      <ul data-inner-container="" class="nav-tree-inner">
        <li data-component="tree-leaf-node">
          <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_14" data-content-editable="true">tree-leaf-node_14</a>
        </li>
        <li data-component="tree-leaf-node" class="">
          <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="treeNode_5" data-content-editable="true">
            <i></i>
            treeNode_5
          </a>
          <div style="width:100%; margin:10px; border: 1px solid #ff0000; height:1px"></div>
        </li>
        <li data-component="tree-leaf-node">
          <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_13" data-content-editable="true">tree-leaf-node_13</a>
        </li>
      </ul>
    </li>
    <li data-component="tree-leaf-node">
      <a data-trigger="" class="nav-tree-leaf-node js-menu-item" href="#" nm="tree-leaf-node_12" data-content-editable="true">tree-leaf-node_12</a>
    </li>
  </ul>
</div>
