<div class="trillo-table" name="T11" nm="T11">
  <table data-container="" class="table">
    <thead>
      <tr data-table-header="">
        <th nm="Text_1" data-field="text">Text_1</th>
        <th>Column_1</th>
        <th>Column_2</th>
        <th>Column_3</th>
      </tr>
    </thead>
    <tbody>
      <tr data-table-row="">
        <td data-component="text">
          <input data-field="" type="text" class="form-control" nm="Text_1" data-validation="required">
        </td>
        <td data-component="readonly" nm="Column_1" data-field="readonly">abcd</td>
        <td data-component="readonly" nm="Column_2" data-field="readonly"></td>
        <td data-component="readonly" nm="Column_3" data-field="readonly"></td>
      </tr>
    </tbody>
  </table>
</div>
