<div class="trillo-table" name="T2" nm="T2">
  <table data-container="" class="table">
    <thead>
      <tr data-table-header="" style="background-color: rgb(242, 242, 242);">
        <th data-content-editable="true" nm="Readonly_1" data-field="readonly" style="width: 25%;">Name1234</th>
        <th data-content-editable="true" nm="Column_2" data-field="readonly" style="width: 25%;">Time123-5555</th>
        <th data-content-editable="true" nm="Column_1" data-field="readonly" style="width: 25%;">More</th>
        <th data-content-editable="true" nm="Column_3" data-field="readonly" style="width: 25%;">A3-12345</th>
      </tr>
    </thead>
    <tbody>
      <tr data-table-row="" style="background-color: rgb(170, 170, 170);">
        <td data-component="readonly" nm="Readonly_1" data-field="readonly"></td>
        <td data-component="readonly" nm="Column_2" data-field="readonly"></td>
        <td data-component="readonly" nm="Column_1" data-field="readonly"></td>
        <td data-component="readonly" nm="Column_3" data-field="readonly"></td>
      </tr>
    </tbody>
  </table>
</div>
