<div class="trillo-table" name="T5" nm="T5">
  <table data-container="" class="table">
    <thead>
      <tr data-table-header="">
        <th>Column</th>
        <th>Column_2</th>
        <th>Column_3</th>
      </tr>
    </thead>
    <tbody>
      <tr data-table-row="">
        <td data-component="readonly" nm="Column_1" data-field="readonly"></td>
        <td data-component="readonly" nm="Column_2" data-field="readonly"></td>
        <td data-component="readonly" nm="Column_3" data-field="readonly"></td>
      </tr>
    </tbody>
  </table>
</div>