<ul data-container="" class="nav nav-tabs" name="T7" nm="T7">
  <li data-component="tabSelector" class="nav-item">
    <a data-trigger="" class="nav-link js-menu-item" href="#" nm="Tab_2">
      <i></i>
      Tab_2
    </a>
  </li>
  <li data-component="tabSelector" class="nav-item">
    <a data-trigger="" class="nav-link js-menu-item" href="#" nm="Tab_3">
      <i></i>
      Tab_3
    </a>
  </li>
  <li data-component="dropdown" class="nav-item dropdown">
    <a data-trigger="" class="nav-link dropdown-toggle js-menu-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" nm="Dropdown_1">
      <i></i>
      Dropdown_1
    </a>
    <div data-inner-container="" class="dropdown-menu">
      <a data-component="tabSelector" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="Tab_4">
        <i></i>
        Tab_4
      </a>
      <a data-component="tabSelector" data-trigger="" class="dropdown-item js-menu-item" href="#" nm="Tab_5">
        <i></i>
        Tab_5
      </a>
    </div>
  </li>
  <li data-component="tabSelector" class="nav-item">
    <a data-trigger="" class="nav-link js-menu-item" href="#" nm="Tab_1">
      <i></i>
      Tab_1
    </a>
  </li>
</ul>